{% extends "templates/base.html" %}

{% block title %}
    recently done
{% endblock %}

{% block content %}
<h3>
recently done
</h3>
{% if messages %}
    {% for m in messages %}
    <div class="well">
        <h4><a href="/mess/{{ m.key() }}/">{{ m.title }}</a></h4>
        tags:
        {% for t in m.get_tags() %}
            <a href="/tag/{{ t.title }}/">{{ t.title }}</a>,
        {% endfor %}
        <p>{{ m.content }}</p>
    </div>
    {% endfor %}
{% endif %}

{% endblock %}

{% block sidebar %}
<h4>tags</h4>
{% for t in person.get_tags() %}
        <a href="/tag/{{ t.title }}/">{{ t.title }}</a>,
{% endfor %}
<h4>actions</h4>
{% endblock %}