{% extends "templates/base.html" %}

{% block title %}Editmess{% endblock %}

{% block content %}


<form role="form" action="" method="POST" id="addmessi">
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" class="form-control" id="title" name="title" value="">
  </div>
  <div class="form-group">
    <label for="tags" class="text-muted">Tags:</label>
    <input type="text" class="form-control" id="tags" name="tags" value="">
  </div>
  <div class="form-group">
    <label for="content">Message:</label>
    <textarea class="form-control" rows="3" id="content" name="content" placeholder="Your info here"></textarea>
  </div>
  <input type="submit" name="addmess" id="addmess" class="btn btn-danger" value="Add Message">
</form>

<hr />
{% endblock %}